@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Reset*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font: inherit;
    font-size: 100%;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  position: absolute;
  border: 1px solid #eee;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);
  overflow: hidden;
  opacity: 0;
  left: 0;
  top: 0;
}

.splashScreen {
    display: flex;
    opacity: 1;
    background-image: url('../img/bg_dots.png');
    background-size: cover;
    background-color: #fff;
    z-index: 99999;
}
.splashScreen .logo {
  background-image: url(../img/nyankuIcon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 17%;
  padding-bottom: 13%;
  margin-bottom: 10px;
}
.splashScreen .textLogo {
  background-image: url('../img/nyanku.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 33%;
  padding-bottom: 7%;
}

.menuIcons {
  width: 6%;
  position: absolute;
  right: 10%;
  bottom: 5%;
  z-index: 9999;
}

.shareIcon {
  background-image: url('../img/share.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 90%;
  margin-bottom: 90%;
  opacity: 0.7;
}

.musicIconOn {
  background-image: url('../img/music.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 90%;
  opacity: 0.7;
}

.musicIconOff {
  background-image: url('../img/musicOff.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 90%;
  opacity: 0.7;
}

#mainMenu {
  display: flex;
  opacity: 1;
}

.menuWrap {
  width: 50%;
  position: relative;
  z-index: 9999;
}

.copyrights {
  width: 100%;
  padding: 27px;
  color: rgba(144,144,144,1);
  font-size: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  letter-spacing: 1px;
}

button {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(144,144,144,0.2);
  border-radius: 10px;
  color: rgba(144,144,144,0.5);
  font-size: 1em;
  cursor: pointer; /*for web*/
  letter-spacing: 1px;

}

button:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.btnQuit, .btnMenu {
  width: 33%;
  margin-top: -30px;
  margin-bottom: 30px;
}

.btnMenu {
  margin: 0;
}

.icon {
  width: 17%;
  margin-bottom: 10px;
  margin-top: -40px;
}

.logo {
  width: 30%;
  margin-bottom: 30px;
}

.bgCircles {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  border-bottom: 1px solid rgba(144, 144, 144, 0.3);
}

.navSections {
  height: 100%;
  background-color: #fff;
  color: #909090;
  font-size: 0.8em;
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid rgba(144, 144, 144, 0.3);
}

.navSections:last-child {
  border-right: 0;
}

h2 {
  font-size: 1.7em;
  font-weight: 900;
}

h1 {
  font-size: 1.7em;
  font-weight: 400;
  color: #cccccc;
  margin-bottom: 10px;
}

#gameOver h2 {
  font-size: 1.3em;
  font-weight: 400;
  color: #cccccc;
}

#gameOver h2:last-of-type {
  margin-bottom: 30px;
}

span {
  font-weight: 900;
}

ul {
  width: 60%;
  color: #cccccc;
  margin-bottom: 30px;
}

.circleWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 8 0;
}

.circleBundle {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s linear;
}

.circle {
  flex: 0 32%;
  padding-bottom: 32%;
  border-radius: 50%;
  margin-bottom: 2%;
  margin-right: 2%;
  transition: all 0.3s linear;
}

.circle:nth-of-type(3n+3) {
  margin-right: 0;
}

.mainColor {
  width: 33%;
  padding-bottom: 33%;
  border-radius: 50%;
}

.rotate {
  transform: rotate3d(0, 1, 0, 180deg);
}
